html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: -2px;
}

p,
label,
button,
input,
a,
select,
li {
  font-family: "Raleway", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.custom-btn {
  color: dimgray;
}

.custom-btn:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.custom-link {
  color: white;
}

.custom-link:hover {
  color: lightgray;
}

.custom-bottom-nav {
  color: white;
  opacity: 0.8;
}

.custom-bottom-nav:hover {
  color: lightgray;
  opacity: 1;
}
